<div class="alert alert-success mt-4">
    <span>@_loc["Learn about"] <a href="https://docs.ziyad.info">@_loc["XLocalizer for Asp.Net Core"]</a></span>
</div>


<div class="alert alert-info">
    <h5 class="alert-heading">
        @_loc["How to enable online translation support"]
    </h5>
    <p>
        @_loc["This sample is using"] <a href="https://rapidapi.com/translated/api/mymemory-translation-memory" target="_blank">@_loc["MyMemory Translate service provided by RapidAPI"]</a>. @_loc["Please follow the below steps to enable the translation service:"]
    </p>
    <ol>
        <li>
            @_loc["Create an app at"] <a href="https://rapidapi.com/developer/apps" target="_blank">RapidApi</a>, @_loc["and copy the relevant API key"]
        </li>
        <li>
            @_loc["Right click on the project name and select \"Manage User Secrets\""]
        </li>
        <li>
            @_loc["Past the API key to the file as below:"]
            <pre>
<code class="json" dir="ltr" style="text-align:left">{
  "XLocalizer.Translate": {
    "RapidApiKey": "...xxx...yyy...zzz...",
  }
}
</code>
</pre>
        </li>
        <li>
            @_loc["Open startup.cs file and set AutoTranslate to true in XLocalizerOptions:"]
            <pre>
<code class="csharp" dir="ltr" style="text-align:left">services.AddRazorPages()
    .AddXLocalizer&lt;MyMemoryTranslateService&gt;(ops =>
    {
        ops.ResourcesPath = "LocalizationResources";
        ops.AutoAddKeys = true;
        ops.AutoTranslate = true;
        ops.UseExpressMemoryCache = true;
    });
</code>
</pre>
        </li>
        <li>@_loc["Build, run and enjoy the app :)"]</li>
    </ol>
</div>
<p class="text-muted small">
    @_loc["See"] <a href="https://docs.ziyad.info/en/XLocalizer/v1.0/translate-services.md" target="_blank">XLocalizer Docs</a> @_loc["for all available translation services."]
</p>