<div class="alert alert-success mt-4">
    <span>@_loc["Learn about"] <a href="https://docs.ziyad.info">@_loc["XLocalizer for Asp.Net Core"]</a></span>
</div>


<div class="alert alert-info">
    <h5 class="alert-heading">
        @_loc["IMPORTANT NOTICE"]
    </h5>
    <p>
        @_loc["This sample is using"] <a href="https://mymemory.translated.net/" target="_blank">MyMemory Translate service</a>, @_loc["it offers a limited free anonymous usage. To increase the free daily use you can provide a valid email address and a key as described below."]
    </p>
    <ol>
        <li>
            @_loc["Create a key using"] <a href="https://mymemory.translated.net/doc/keygen.php" target="_blank">MyMemory API Key Generator</a>.
        </li>
        <li>
            @_loc["Add the key and your email address to the user secrets or appsettings file as below:"]
            <pre>
<code class="json" dir="ltr" style="text-align:left">{
  "XLocalizer.Translate": {
    "MyMemory": {
      "Email": "...",
      "Key": "..."
    }
  }
}
</code>
</pre>
        </li>
        <li>@_loc["Build, run and enjoy the localization :)"]</li>
    </ol>
</div>
<p class="text-muted small">
    @_loc["For more details about translation servies visit:"] <a href="https://docs.ziyad.info/en/XLocalizer/v1.0/translate-services.md" target="_blank">XLocalizer Docs</a>.
</p>